@charset "utf-8";

/* banner */

.carousel-indicators li {
    background: #a29b9b;
    width: 12px;
    height: 12px;
    border: none;
}

.carousel-indicators .active {
    background: #015198;
}


/* tabs */

.tabs {
    background: #f2f2f2;
    text-align: center;
    box-shadow: 0 3px 5px #ddd;
}

.tabs .container {
    padding: 0;
}

.tabs .cur,
.tabs a:hover {
    background: #015198;
    color: #fff;
}

.tabs a {
    text-decoration: none;
    padding: 10px 30px;
    font-size: 16px;
    border-right: 1px solid #ccc;
    color: #1a1919;
    display: inline-block;
    margin-left: -5px;
    position: relative;
}

.tabs a:after {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #015198;
    display: none;
}

.tabs .cur:after,
.tabs a:hover:after {
    display: block;
}


/* rightmenu */

.rightmenu {
    position: fixed;
    top: 88%;
    right: 10px;
    z-index: 999;
}

.rightmenu .fixed {
    position: relative;
    width: 54px;
    height: 54px;
    cursor: pointer;
    background: #1a1a1a url("../images/images_nlf/top.jpg") 0 0 no-repeat;
    border-bottom: none;
}


/* manage */

.manage {
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-left: 3%;
    padding-right: 3%;
}

.manage p {
    text-align: center;
}


/* 媒体查询 */

@media (min-width: 768px) {
    .carousel-indicators {
        bottom: 0;
    }
    .manage {
        padding-top: 45px;
        padding-bottom: 75px;
    }
}

@media (min-width: 991px) {
    .tabs .container {
        margin: 0;
        width: 100%;
    }
}

@media (min-width: 1199px) {
    .manage {
        margin: 0 auto;
        max-width: 1200px;
    }
}

@media (min-width: 1024px) {
    .manage {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1260px) {
    .manage {
        padding-left: 0;
        padding-right: 0;
    }
}