@charset "utf-8";
body {
    margin: 0;
    padding: 0;
}

footer {
    background: #3A3A3A;
    padding: 15px 0 20px;
}

footer .container {
    padding: 0 3%;
    overflow: hidden;
}

.footerweb {
    padding-right: 2%;
    padding-left: 2%;
}

footer ul {
    overflow: hidden;
    padding-left: 0;
    margin: 0;
}

footer ul li.li1 {
    padding-right: 0;
}

footer ul li {
    float: none;
    width: 100%;
    margin-bottom: 0;
}

footer ul li a {
    line-height: 25px;
}

footer ul li.li1 h3 {
    background: url("../images/images_nlf/icon01.png") right 12px no-repeat;
    border-bottom: 1px solid #a6a6a6;
    font-size: 14px;
    padding: 5px 0;
}

footer ul li.li1 h3 a {
    color: #fff;
    font-size: 14px;
}

footer ul li.li1 a {
    color: #a6a6a6;
    display: block;
    font-size: 12px;
    padding-bottom: 0;
    font-weight: normal;
}

footer ul li h3 {
    position: relative;
}

footer ul li h3 em {
    background-size: 15px 15px;
    width: 35px;
    height: 34px;
}

footer ul li em {
    display: block;
    background: url("../images/images_nlf/icon01.png") center center no-repeat;
    background-size: 13px 13px;
    width: 35px;
    height: 24px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

.footdrop {
    padding-top: 10px;
    display: none;
}

.footdrop li {
    padding-bottom: 10px;
}

.footdrop li h4 {
    position: relative;
}

.footdown {
    padding-left: 12px;
    display: none;
}

.footdrop li h5 {
    position: relative;
}

footer ul li.li2 {
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding-left: 0;
    padding-top: 10px;
}

footer ul li.li2 p {
    margin: 0;
}

.xlcode-list {
    display: inline-block;
    float: none;
}

footer ul li.li2 .code-img {
    padding: 10px 0;
}

footer ul li.li2 .code-img img {
    max-width: 100%;
}

.tel {
    clear: both;
}

footer ul li.li2 a {
    color: #fff;
    font-size: 17px;
    font-weight: bold;
}

footer ul li.li2 .tel i {
    font-size: 15px;
}

footer ul li.li2 .tel span {
    font-size: 24px;
}

.bottom {
    background: #1a1a1a;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #8d8d8d;
    font-size: 12px;
    text-align: center;
}

.bottom .container {
    padding: 0 3%;
}

.footer_text,
.footer_right {
    float: none;
}

.footer_text a {
    padding: 0 4px;
}

.footer_text a:nth-of-type(1) {
    padding-left: 0;
}

.bottom a {
    color: #8d8d8d;
}

.bottom p {
    margin: 0;
}


/* 媒体查询 */

@media (min-width: 991px) {
    footer {
        padding: 40px 0 50px;
    }
    .footerweb {
        padding-right: 3%;
        padding-left: 3%;
    }
    footer ul li.li1 {
        padding-right: 3%;
    }
    footer ul li {
        float: left;
        width: 25%;
        margin-bottom: 20px;
    }
    footer ul li.li1 h3 {
        padding-bottom: 12px;
        background: none;
        border-bottom: none;
    }
    footer ul li.li1 h3 a {
        color: #fff;
    }
    footer ul li.li1 a {
        padding-bottom: 4px;
    }
    footer ul li.li1 em {
        display: none;
    }
    .footdrop {
        padding: 0;
        display: block;
    }
    footer ul li.li1 .footdrop li {
        width: 100%;
        margin-bottom: 0;
        padding-bottom: 0;
    }
    footer ul li.li1:nth-of-type(8) {
        display: none;
    }
    footer ul li.li1:nth-of-type(9) {
        display: none;
    }
    footer ul li.li2 {
        margin-left: 16px;
        padding-left: 0;
        padding-top: 0;
    }
    .xlcode-list {
        float: left;
        padding-left: 16px;
    }
    footer ul li.li2 .code-img {
        padding: 15px 0;
    }
    footer ul li.li2 .code-img img {
        max-width: 100%;
    }
    .bottom {
        text-align: left;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .footer_text {
        float: left;
    }
    .footer_right {
        float: right;
    }
}

@media (min-width: 1024px) {
    footer .container {
        padding: 0 10px;
    }
    .bottom .container {
        padding: 0 10px;
    }
}

@media (min-width: 1199px) {
    footer .container {
        padding: 0;
        margin: 0 auto;
        width: 1200px;
    }
    footer ul li {
        width: 10%;
        margin-bottom: 0;
    }
    footer ul li:nth-of-type(1) {
        width: 13%;
    }
    footer ul li:nth-of-type(2) {
        width: 12%;
    }
    footer ul li.li2 {
        width: 25%;
        padding-left: 10px;
        margin-left: 0;
        text-align: center;
        border-left: 1px solid #5A5A5A;
    }
    .xlcode-list {
        padding-left: 16px;
    }
    footer ul li.li2 .tel {
        margin-left: -5px;
        margin-right: -5px;
    }
    .bottom .container {
        padding: 0;
        margin: 0 auto;
        width: 1200px;
    }
}

@media (min-width: 1260px) {
    .footerweb {
        padding-right: 0;
        padding-left: 0;
    }
}