@charset "utf-8";
header {
    width: 100%;
    background: #fff;
    position: relative;
}

.headercont {
    padding-top: 30px;
    padding-bottom: 10px;
}

header .web {
    padding-left: 3%;
    padding-right: 3%;
}

.header_right {
    float: right;
}

.navicon {
    width: 28px;
    height: 23px;
    background: #015198 url("../images/images_nlf/navicon.png") no-repeat;
    background-size: 28px;
    float: right;
    margin-left: 15px;
    margin-top: 10px;
}

.searchph {
    background: #015198 url("../images/images_nlf/searchicon.png") no-repeat;
    width: 28px;
    height: 28px;
    background-size: 28px;
    vertical-align: 3px;
    margin-top: 6px;
    display: inline-block;
}


/* 媒体查询 */

@media (min-width: 991px) {
    .headercont {
        padding-bottom: 0;
    }
    .navicon {
        display: none;
    }
    .searchph {
        display: none;
    }
}

@media (min-width: 1023px) {
    header .web {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (min-width: 1199px) {
    header .web {
        margin: 0 auto;
        max-width: 1200px;
    }
}

@media (min-width: 1260px) {
    header .web {
        padding-left: 0;
        padding-right: 0;
    }
}